@use "abstracts/mixins" as mixin;

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--white);
  @include mixin.general-box-shadow();
  .header-container {
    @include mixin.flex(center, space-around);
    padding: 5px;
    .header-brand {
      @include mixin.flex(center, space-around);
      button:hover {
        i {
          color: var(--blue-2)
        }
      }
    }
    .header-search, .header-location {
      @include mixin.flex(center, space-around);
      padding: 5px 10px;
      box-shadow: 0 1px 6px 0 var(--black-3);
      border: 1px solid var(--gray-10);
      border-color: var(--black-2);
      border-radius: var(--border-radius-100); 
      input {
        width: 100%;
        border: none;
        outline: none;
      }
      i {
        font-size: var(--f-18);
        cursor: pointer;
      }
    }
    .header-search {
      flex-basis: 30%;
    }
    .header-user {
      @include mixin.flex(center, center);
      .header-location {
        @include mixin.flex(center, center);
        cursor: pointer;
        margin-right: 30px;
        input {
          cursor: pointer;
        }
      }
      .btn-login, .btn-cart {
        color: var(--white);
        transition: .3s;
        border-radius: var(--border-radius-4);
        cursor: pointer;
        font-size: var(--f-14);
        font-family: var(--normal-font);
        padding: 5px 10px;
        margin-right: 10px;
      }
      .btn-login {
        background-color: var(--blue-2);
      }
      .btn-cart {
        background-color: var(--orange-2);
      }
    }
  }
}

