<ng-container *ngIf="headerStyle$ | async as style">
  <header class="header {{ style.classType }}">
    <div class="container-fluid header-container">
      <div class="header-brand">
        <button class="btn btn-bars mr-2 rounded-circle">
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
          <img
            src="assets/img/logo.png"
            width="100"
            height="40"
            class="d-inline-block align-top"
            alt="Cumbia Mall"
            loading="lazy"
          />
        </a>
      </div>
      <div class="header-search">
        <input
          type="text"
          [placeholder]="'HEADER.PLACEHOLDER-SEARCH' | transloco"
        />
        <i class="fas fa-search"></i>
      </div>
      <div class="header-user">
        <div class="header-location">
          <input
            type="text"
            [placeholder]="'HEADER.PLACEHOLDER-SELECT' | transloco"
            readonly
          />
          <i class="fas fa-angle-down"></i>
        </div>
        <button class="btn btn-login">
          {{ "HEADER.BUTTON-LOGIN" | transloco }}
        </button>
        <button class="btn btn-cart">
          <i class="fas fa-shopping-cart mr-2"></i>
          <span class="badge badge-light">10</span>
        </button>
      </div>
    </div>
  </header>
</ng-container>
