:root {
    --gray-1: #332927;
    --gray-2: #706967;
    --gray-3: #e5edef;
    --gray-4: #b8b4b4;
    --gray-5: #f4f4f4;
    --gray-6: #8c8b8b;
    --gray-7: #b8b4b4;
    --gray-8: #eeeeee;
    --gray-9: #dddddd;
    --white: #ffffff;
    --white-1: #f9f9f8;
    --white-2: #e5e5e4;
    --white-3: #eeeded;
    --black: #000000;
    --transparent: #ffffff00;
    --green-1: #c9db4e;
    --green-2: #a9d231;
    --blue-1: #67b6cd;
    --blue-2: #061a4d;
    --purple-1: #ab29ae;
    --purple-2: #8f2090;
    --orange-1: #ff8b00;
    --orange-2: #ff6700;
    --black-1_rgb: 85, 82, 82;
    --gray-1_rgb: 51, 41, 39;
    --gray-2_rgb: 115, 153, 179;
    --gray-3_rgb: 187, 215, 233;
    --gray-4_rgb: 112, 105, 103;
    --gray-5_rgb: 229, 237, 239;
    --gray-6_rgb: 249, 249, 248;
    --gray-7_rgb: 159, 170, 183;
    --gray-8_rgb: 246, 245, 254;
    --gray-9_rgb: 184, 180, 180;
    --gray-10_rgb: 244, 244, 244;
    --gray-12_rgb: 184, 180, 180;
    --red-1_rgb: 242, 21, 55;
    --orange-1_rgb: 255, 59, 21;
  }
  