@font-face {
  font-family: "Neufreit-ExtraBold";
  font-weight: initial;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("/assets/fonts/Neufreit-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Century-Gothic";
  font-weight: initial;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("/assets/fonts/CenturyGothic.TTF") format("truetype");
}
